<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/head',{
	title : 'dashboard'
}) %>

<body>
	<%- include('./partials/header-admin') %>
    
    <form action="">
        <main>            
            <section class="section-dashboard">
                <div class="container">
                    <table class="table-admin">
                    <a href="/productos/agregar" class="boton-dashboard"><h3 class="btn secondary">Nuevo</h3></a>
                    <thead class="a">
                        <tr>
                            
                            <th class="nombre-admin">Nombre</th>
                            <th class="categoria-admin">Categoria</th>
                            <th class="plataforma-admin">Plataforma</th>
                            <th class="stock-admin">Stock</th>
                            <th class="precio-admin">Precio</th>
                        </tr>
                    </thead>
                    
                    <tbody class="tbody-dashboard">
                        <% if (!buscadorAdmin.length) { %>
                         
                        
                        <% products.forEach(prod => {%>
                        <tr>
                            
                            <td><%= prod.nombre %></td>
                            <td><%= prod.categoria %></td>
                            <td><%= prod.plataforma %></td>
                            <td><%= prod.stock %></td>
                            <td><%= prod.precio %></td>
                            <form action="/productos/eliminar/<%= prod.id %>?_method=delete" method="POST">
                            <td><button type="submit"><i class="fa-solid fa-trash"></i></button></td>
                        </form>
                           
                            <td><a href="/productos/editar/<%= prod.id %>"><i class="fa-solid fa-pen"></i></a></td>
                        </tr>
                        
                            <% })  %>
                            <% } else{%>
                      
                                <% buscado.forEach(buscado => {%>
                                <tr>
                                    
                                    <td><%= buscado.nombre %></td>
                                    <td><%= buscado.categoria %></td>
                                    <td><%= buscado.plataforma %></td>
                                    <td><%= buscado.stock %></td>
                                    <td><%= buscado.precio %></td>
                                    <form action="/productos/eliminar/<%= buscado.id %>?_method=delete" method="POST">
                                    <td><button type="submit"><i class="fa-solid fa-trash"></i></button></td>
                                </form>
                                   
                                    <td><a href="/productos/editar/<%= buscado.id %>"><i class="fa-solid fa-pen"></i></a></td>
                                </tr>
                                
                                    <% })  %>
                                    <% } %>
                                    
                    </tbody>
                </table>
                </div>
            </section>
        </main>
    </form>


</body>
</html>