<!DOCTYPE html>
<html lang="en">
    
<%- include('./partials/head',{
	title : 'dashboard'
}) %>

<body>
	<%- include('./partials/header-admin') %>
    <form action="">
        <main>            
            <section class="section-dashboard">
                
                <div class="container">
                
                    <table class="table-admin">
                    <a href="/productos/agregar" class="boton-dashboard"><h3 class="btn secondary">Nuevo</h3></a>
                    <thead class="a">
                        <tr>
                            <th class="id-admin"> iD </th>
                            <th class="nombre-admin">Nombre</th>
                            <th class="categoria-admin">Categoria</th>
                            <th class="plataforma-admin">Plataforma</th>
                            <th class="stock-admin">Stock</th>
                            <th class="precio-admin">Precio</th>
                        </tr>
                    </thead>
                    
                    <tbody class="tbody-dashboard">
                        <% products.forEach(a => { %>
                            
                            
                           <tr>
                            
                            <td><%= a.id %></a> </td>
                            <td><%= a.nombre  %></td>
                            <td><%= a.categorias %></td>
                            <td><%= a.plataforma %> </td>
                            <td><%= a.stock %></td>
                            <td><%= a.precio %></td> 
                            <td><a href="/productos/editar/<%= a.id %>"><i class="fa-solid fa-eye"></i></a></td>
                        </tr>
                    
                        <% }) %>
                </table>
                </div>
            </section>
        </main>
    </form>


</body>
</html>