
<%- include("./partials/head",{
    title: "STYN - CARRITO"
}) %>
<body>
    <%- include('./partials/header') %>
    <main class="productcart__main">
        <!--------------------------SECCION DE ARTICULOS DE PRODUCTOS ---------------------------->
        <section class="productcart__section">
            <h1>Tu carrito</h1>
            <% products.forEach(productos =>{ %>
            <article class="productcart__article">
                
               
                <div class="productcart__article--imagen">
                    <img src="/images/<%= productos.imagen %> %>" alt="">
                </div>
                <div class="productcart__article--texto">
                    <p><%- productos.descripcion %></p>
                
                
                        <div class="productcart__article--precioytipo"><p class="productcart__article--productodigital">pruducto <%- productos.tipo %></p>
                        <p>$<%- productos.precio %></p></div>
                    
                    

                <div class="productcart__article--botonytachito">
                    <div class="productcart__article--botonSR">
                        <button> + </button>
                        <h4><%- productos.cantidad %></h4>
                        <button> - </button>
                    </div>
                    <i class="fa-solid fa-trash-can"></i>
                </div>

                </div>
            </article>
            <% }) %>
        </section>
<!---------------------------SECCION DE CUPONES Y TOTAL A PAGAR ---------------------------------->
        
        <section class="productcart__section2">

        <article class="productcart__article--cupon">
            <div class="productcart__section2--h4">
                <i class="fa-solid fa-percent"></i>
                <h4>Tienes algun cupon</h4>
                <i class="fa-solid fa-arrow-down"></i>
            </div>
        <div class="productcart__section2--cupon">
            <form action="">
                <input type="text">
            <button type="submit"></button>
            </form>
        </div>

    </article>

    <article class="productcart__article--total">
            <p>RESUMEN:</p>
            <div class="productos__comprados"><p>productos comprados: <%= products.length %></p></div>
        <div class="productcart__article--preciototal">
            <h2>TOTAL</h2>
            <h2><%- total %></h2>
        </div>
        <form action="" class="productcart__section2--button">
            <button type="submit">Continuar con la comprados</button>
        </form>
            

        </article>
        </section>
       
        
    </main>
    <footer>
        <article class="section__footer">
            <section>
                <div class="redes_sociales">
                    <a href="https://www.tiktok.com/" target="_blank"><i class="fa-brands fa-tiktok"></i></a>
                    <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
                    <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
                    <a href="https://www.twitter.com/" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                </div>
            </section>
            <section>
                <div>
                    <h6 class="medios_pago"> Medios de pago</h6>
                    <div class="icon_medios_pago">
                        <i class="fa-brands fa-cc-mastercard"></i>
                        <i class="fa-brands fa-cc-visa"></i>
                        <i class="fa-brands fa-cc-amazon-pay"></i>
                        <i class="fa-brands fa-cc-paypal"></i>
                        <i class="fa-brands fa-cc-amex"></i>
                    </div>
                </div>
            </section>
            <section>
                <div>
                    <h6 class="contacto">Contacto</h6>
                </div>
                <div class="contacto__tel">
                    <i class="fa-solid fa-square-phone"></i>
                    <p>+54911165230123</p>
                </div>
                <div class="whatsapp">
                    <i class="fa-brands fa-square-whatsapp"></i>
                    <p>Whatsapp +54911165230123</p>
                </div>
                <div class="mail">
                    <i class="fa-solid fa-square-envelope"></i>
                    <p>estyn@gmail.com</p>
                </div>
                <div class="ubicacion">
                    <i class="fa-solid fa-location-arrow"></i>
                    <p>Santiago Del Estero-
                        La Banda-
                        Salavinos Nº253</p>
                </div>
            </section>
        </article>
        </article>
    </footer>
</body>
</html>